*{
    margin :0;    /*Mandatory to use */
    padding :0;  /*Use this method for every style to create custom styling*/
}
body{
    background-color: #a0cfd3;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap :1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow:0 0 1rem rgba(0,0,0.8);
    font-size: 8vmin;
    color:#191913;
    background-color: rgba(236, 242, 245, 0.985);
}
#reset-btn{
    padding : 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}
#new-btn{
    padding : 0.6rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}
#msg{
    color:rgb(1, 9, 9);
    font-size: 6vmin;
    
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  5rem;
}
.hide{
    display: none;
}